{% extends 'base.html' %}
{% block title %}
My Albums
{% endblock %}
{% block content %}
<h1 class="title pt-5">My Albums</h1>
<div class="gallery">
  {% for record in records %}
  <a href="">
    <div class="flexy">
      <div>
      <h1>{{record.title}}</h1>
    </div>
    <div>
      <h5>By</h5>
    </div>
    <div>
      <h1>{{record.artist}}</h1>
    </div>
    <div>
      <h3>{{record.year_made}}</h3>
    </div>
    </div>
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{record.image}}" alt="{{record.artist}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{record.artist}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Artists Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}